
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Squada+One&display=swap');

body {font-family:"Poppins";
width: 99vw;
font-size: 20px;
text-align: justify;}

header {background-color:#454C31;
text-align: center;
margin-right: 10px;
margin-left: 10px;
padding: 20px 0px; }

nav a{
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    margin: 0px 30px;
    padding: 5px 10px;
    border-radius: 20px;

}

nav a:hover{
    background-color: #232C0C ;
    color: #fff;

  }

.bio {background-color: #DCE1CD;
padding: 5px;
margin-top: 0px;
width: 100%;
height: 300px;}

.bio h2 {margin-left: 42%;
    position: absolute;
    margin-top: -17%;
    font-size: 40px;
    font-family: "Squada One";
}

.bio p {margin-left: 42%;
    position: absolute;
    margin-top: -13%;
    margin-right: 10%;
    font-size: 20px;
}

.trabajos h2 {background-color: #7C8661;
margin-left: 0%;
margin-right: 0%;
color: whitesmoke;
text-align: center;
width: 50%;
height:40px;
margin-top: 0px;
font-size: 40px;
font-family: "Squada One";}


.trabajos p {margin-left: 10%;
margin-right: 10%;
margin-left: 32%;
padding: 5px;
width: 50%;
margin-top: 13%;
position: absolute;
font-size: 18px;}

.donella {width: 30%;
    margin-left: 10%;
    margin-top: 40px;
    padding: 5px}


.bio1 h2 {margin-left: 20%;
    margin-right: 30%;
}

.libro {width: 20%;
margin-left: 150px;
margin-top: 3.5%;
position: absolute;
}


.coso {width: 30%;
margin-left: 52%;
margin-top: 42%;
position: absolute;}

.trabajos2 p {margin-left: 10px;
margin-right: %;
margin-left: 10%;
padding: 5px;
width: 42%;
margin-top: 42%;
text-align: right;
position: absolute;
font-size: 18px;}


