
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Squada+One&display=swap');

body {font-family: "Poppins";
width: 99vw;
font-size: 20px;}

header {background-color:#454C31;
text-align: center;
margin-right: 10px;
margin-left: 10px;
padding: 20px 0px; }

nav a{
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    margin: 0px 30px;
    padding: 5px 10px;
    border-radius: 20px;

}

nav a:hover{
    background-color: #232C0C ;
    color: #fff;

  }
.esquema {text-align: center;}

p { background-color: #DCE1CD;
margin-left: 10px;
margin-right: 10px;
padding: 5px;
margin-top: 5px;
text-align:justify; }

h2 {background-color: #7C8661;
margin-left: 10px;
margin-right: 10px;
color: whitesmoke;
font-size: 40px;
text-align: center;}

.titulo h2 {font-family: "Squada One";
font-size: 60px;} 