
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Squada+One&display=swap');


* {margin: 0px;
padding: 0px;
box-sizing: border-box;}

body {background-color: white;
font-family: Poppins;}

header {
   background-color: #454C31;
  color: white; 
  position: sticky;
} 


header h1 {text-align: center;
  padding-top: 20px;
padding-bottom: 30px;
font-family: Squada One;
font-size: 50px;}

 nav {display: flex;} 

 nav li {display: inline-block;
        list-style-type: none;
        text-align: center;
        color: white;
         font-family: Poppins;}

nav li a {text-decoration: none;
      display: flex;
     font-size: 1,5rem;
        list-style-type: none;
        text-align: center;
        color: white;
        padding: 5px;
        padding-left: 200px;}

.texto {text-align: center;
padding-top: 30px;
padding-bottom: 20px;}

.texto2 {display: block;
         height: 100px;
        width: auto;
        background-color: #9DA38C;
         padding-top: 20px;
        text-align: center;
        font-family: Squada One;
        font-size: 20px;} 


.donatella { float: left;
  margin-top: 50px;
margin-left: 10px;
margin-right: 10px;}

.bio { display: right;
      margin-top: 50px;
      margin-left: 10px;
      font-family: Squada One;
      font-size: 20px;}
.bio p {font-family: Poppins;}

.titulo {display: block;
  margin-top: 150px;
margin-left: auto;
margin-left: auto;
width: auto;
text-align: center;}

.esquema {display: block;
  margin-left: auto;
margin-right: auto;}

.parrafo {display: block;
  margin-top: 40px;
margin-left: auto;
margin-left: auto;
width: auto;
text-align: center;
padding-bottom: 20px;}

.franja {width: auto;
height: 70px;
display: block;
background-color: #9DA38C;
text-align: right;
font-size: 20px;
padding-top: 10px;
padding-right: 90px;
font-family: Squada One;}

.santiago {
  margin-left: 15%;
  margin-top: 5%;
}

.autor { position: absolute;
      margin-top: -340px;
      margin-left: 725px;
      margin-right: 250px;
      font-family: Squada One;
      font-size: 20px;}
.autor p {font-family: Poppins;}


